@model MotoristaMvc5.Models.Cadastros.Motoristas.MOT_AUTONOMO

@{
    ViewBag.Title = "Autonomo";
}

<h2>Cadastro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Motorista Autonomo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_NACIONALIDADE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.MOT_AUT_NACIONALIDADE, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.RadioButtonFor(model => model.MOT_AUT_NACIONALIDADE, "S", false)@Html.Label("Sim")
				@Html.RadioButtonFor(model => model.MOT_AUT_NACIONALIDADE, "N", false)@Html.Label("Não")
                @Html.ValidationMessageFor(model => model.MOT_AUT_NACIONALIDADE, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model => model.MOT_COD_INT, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.MOT_COD_INT, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.MOT_COD_INT, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.MOT_DATA_CADASTRO, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.MOT_DATA_CADASTRO, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.MOT_DATA_CADASTRO, "", new { @class = "text-danger" })
				@Html.DisplayFor(model => model.MOT_DATA_CADASTRO)
			</div>
		</div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_NOME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_NOME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_NOME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_SEXO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_SEXO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_SEXO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_DATA_NASCIMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_DATA_NASCIMENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_DATA_NASCIMENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CPF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_CPF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CPF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_RG_RGE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_RG_RGE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_RG_RGE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_RG_ORG_EMISSAO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_RG_ORG_EMISSAO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_RG_ORG_EMISSAO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_RG_DATA_EMISSAO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_RG_DATA_EMISSAO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_RG_DATA_EMISSAO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CNH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_CNH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CNH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CNH_UF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_CNH_UF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CNH_UF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_P_CNH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_P_CNH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_P_CNH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CNH_VALIDADE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_CNH_VALIDADE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CNH_VALIDADE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CNH_SEGURANCA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_CNH_SEGURANCA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CNH_SEGURANCA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CNH_CAT_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.MOT_AUT_CNH_CAT_ID, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.DropDownListFor(model => model.MOT_AUT_CNH_CAT_ID, new SelectListItem[] {
										new SelectListItem() {Text = "A", Value = "0" },
										new SelectListItem() {Text = "B", Value = "1" },
										new SelectListItem() {Text = "E", Value = "2"} })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CNH_CAT_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_TELEFONE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_TELEFONE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_TELEFONE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CELULAR_I, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_CELULAR_I, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CELULAR_I, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_CELULAR_II, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_CELULAR_II, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_CELULAR_II, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOT_AUT_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOT_AUT_EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_FLG_SERASA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.MOT_AUT_FLG_SERASA, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.RadioButtonFor(model => model.MOT_AUT_FLG_SERASA, "S", false)@Html.Label("Sim")
				@Html.RadioButtonFor(model => model.MOT_AUT_FLG_SERASA, "N", false)@Html.Label("Não")
                @Html.ValidationMessageFor(model => model.MOT_AUT_FLG_SERASA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOT_AUT_FLG_CRIMINAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
@*                @Html.EditorFor(model => model.MOT_AUT_FLG_CRIMINAL, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.RadioButtonFor(model => model.MOT_AUT_FLG_CRIMINAL, "S", false)@Html.Label("Sim")
				@Html.RadioButtonFor(model => model.MOT_AUT_FLG_CRIMINAL, "N", false)@Html.Label("Não")
                @Html.ValidationMessageFor(model => model.MOT_AUT_FLG_CRIMINAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
