@model MotoristaMvc5.Models.Cadastros.Motoristas.Individual

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Individual</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_NACIONALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_NACIONALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_DATA_NASCIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_DATA_NASCIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_RG_RGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_RG_RGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_RG_ORG_EMISSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_RG_ORG_EMISSAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_RG_DATA_EMISSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_RG_DATA_EMISSAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CNH_UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CNH_UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_P_CNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_P_CNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CNH_VALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CNH_VALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CNH_SEGURANCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CNH_SEGURANCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CNH_CAT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CNH_CAT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CELULAR_I)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CELULAR_I)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_CELULAR_II)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_CELULAR_II)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_EX_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_EX_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_EX_DOC_VALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_EX_DOC_VALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_EX_CNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_EX_CNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_EX_CNH_VALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_EX_CNH_VALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_EX_PAIS_ORG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_EX_PAIS_ORG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_INDI_EX_CIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_INDI_EX_CIDADE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
