@model MotoristaMvc5.Models.Cadastros.Motoristas.MOT_AGREGADO_VEICULO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MOT_AGREGADO_VEICULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAV_TIPO_PROPRIETARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_TIPO_PROPRIETARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PLACA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PLACA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_RENAVAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_RENAVAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_RENA_UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_RENA_UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_CPF_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_CPF_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_NOME_RAZAO_SOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_NOME_RAZAO_SOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_NOME_MAE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_NOME_MAE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_NOME_PAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_NOME_PAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_DATA_NASCIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_DATA_NASCIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_RG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAV_PROP_UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAV_PROP_UF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAV_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
