@model MotoristaMvc5.Motorista

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Motorista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MOT_NACIONALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_NACIONALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_DATA_NASCIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_DATA_NASCIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_RG_RGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_RG_RGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_RG_ORG_EMISSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_RG_ORG_EMISSAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_RG_DATA_EMISSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_RG_DATA_EMISSAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CNH_UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CNH_UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_P_CNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_P_CNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CNH_VALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CNH_VALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CNH_SEGURANCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CNH_SEGURANCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CNH_CAT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CNH_CAT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CELULAR_I)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CELULAR_I)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_CELULAR_II)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_CELULAR_II)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT_FLAG_TP_MOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_FLAG_TP_MOT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
